.animate-character {
    text-transform: uppercase;
    background-image: linear-gradient(-135deg, #ffffff 0%, #3c96e0 29%, #c0b4b8 67%, #355bd8 100%);
    background-size: 200% auto;
    background-clip: text;
    color: transparent;
    font-size: 120px;
    /* Adjusted font size for better visibility */
    display: flex;
    animation: textclip 2s linear infinite, waveColor 2s ease-in-out infinite;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

@keyframes waveColor {
    0% {
        color: #3c96e0;
    }

    50% {
        color: #355bd8;
    }

    100% {
        color: #3c96e0;
    }
}

.waviy {
    position: relative;
}

.waviy span {
    position: relative;
    display: inline-block;
    font-size: 120px;
    text-transform: uppercase;
    animation: flip 2s infinite;
}

.waviy #split {
    margin-right: 15px;
}

@keyframes flip {

    0%,
    80% {
        transform: rotateY(360deg);
        -webkit-transform: rotateY(360deg);
    }
}



.center {
    display: flex;
    justify-content: center;
    align-items: center;
}



.btn {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
    z-index: 10;


    svg {
        /* position: absolute;
        left: 0;
        top: 0; */
        fill: none;
        stroke: #fff;
        stroke-dasharray: 150 480;
        stroke-dashoffset: 150;
        transition: 1s ease-in-out;
    }

    &:hover {
        transition: 1s ease-in-out;
        background: #4F95DA;
    }

    &:hover svg {
        stroke-dashoffset: -480;
    }

    span {
        color: white;
        font-size: 18px;
        font-weight: 100;
    }
}